@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
*{
    margin: 0;
}

.text{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Preahvihear', sans-serif;
}
.text:hover{
    cursor:default;
}
.text2:hover{
    cursor:default;
}
.text2{
    padding: 0px 50px;
    
    font-size: 74.2px;
    font-weight: bold;
    font-family: 'Preahvihear', sans-serif;
}

.padrao{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-family: 'Barlow', sans-serif;
}



.lifooter{
    list-style: none;
    padding: 8px 0px;
    text-align: start;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

footer{
    width: 100%;
    height: 14vh;
    background-color:rgb(64, 79, 110);
    justify-content: center;
    align-items: center;
}


.sla{
    font-size: 18px;
}

.padrao:hover{
    cursor: pointer;
    color: #dad7dd;
}

.ulfooter{
    display: flex;
    gap: 30px;
    padding: 0px 100px 0px 0px;
}

.product{
    display: flex;
    justify-content: center;
}