@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
main{
    background-color: #99a7c5;
    height: 78vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.containerMain{
    width: 27vw;
    padding: 0px 50px;
}

.textMain{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
}

.textfeitos{
    text-decoration: none;
    color: black;
    font-size: 27px;
}

.lifeitos{
    list-style: none;
    align-self: center;
}

.feitos{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'Barlow', sans-serif;
}

.textfeitos:hover{
    color: #dad7dd;
}

.titulofeitos{
    font-size: 30px;
    font-family: 'Barlow', sans-serif;
}

.navfeitos{
    padding: 0px 100px 0px 0px;
}

.content_projeto{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
}
.barrapesquisa{
    height: 30px;
    border: 1px solid #000;
    width: 200px;
    border-radius: 5px;
    font-size: 1.4rem;
}

.pesquisa{
    padding: 50px;
    align-self: baseline;
}

.barrapesquisa:focus-visible{
    outline: 1px solid rgba(28, 28, 191, 0.57);
}