@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
main{
    background-color: #99a7c5;
    height: 78vh;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.containerMain{
    padding: 0px 0px 0px 30px;
    width: 98%;
}

.textMain{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
}

.titulofeitos{
    font-family: 'Barlow', sans-serif;
    padding: 7px 10px 0px 30px;
    font-size: 35px;
}

.navfeitos{
    padding: 0px 100px 0px 0px;
}

.content_projeto{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
}
.barrapesquisa{
    height: 30px;
    border: 1px solid #000;
    width: 200px;
    border-radius: 5px;
    font-size: 1.4rem;
}

.pesquisa{
    align-self: baseline;
}

.barrapesquisa:focus-visible{
    outline: 1px solid rgba(28, 28, 191, 0.57);
}

.containerMid{
    display: flex;
}