@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
main{
    background-color: #99a7c5;
    height: 78vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerMain{
    width: 27vw;
    padding: 0px 50px;
}

.textMain{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
}

.textfeitos{
    text-decoration: none;
    color: black;
    font-size: 27px;
}

.lifeitos{
    list-style: none;
    align-self: center;
}

.feitos{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'Barlow', sans-serif;
}

.textfeitos:hover{
    color: #dad7dd;
}

.titulofeitos{
    font-size: 30px;
    font-family: 'Barlow', sans-serif;
}

.navfeitos{
    padding: 0px 200px 0px 0px;
}